.cart-widget{
    width: 30px;
    padding-right: 5px;
}





.img-float{
    width: 50px;
}


.contenedor-float{
    position: absolute;
    margin-left: 50px;
    width: 350px;
    z-index: 1000;
    height: 350px;
    background: rgba(0, 0, 0, 0.418);
    width: 350px;

}
