.size-img{
    height: 250px;
    width: 100%;

}
.size-img-resumen{
    height: 70px;
    width: 70px;
}

.container-box{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5%;
    gap: 5px;
}

.titulo  {
    font-size: 16px;
    word-break:normal;
}

.descripcion{
    font-size: 12px;
}
.precio{
    font-size: 20px;
}


.cart{
    width: 39px;
    height: 38px;}

.contenedor-float{
        position: absolute;
        margin-left: 50px;
        width: 350px;
        z-index: 1000;
        height: 350px;
        background: rgba(0, 0, 0, 0.925);
        width: 350px;
    
    }
    
    
    