.size-img{
    height: 300px;
    width: 100%;

}

.container-box{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5%;
    gap: 5px;
}

.titulo  {
    font-size: 16px;
}

.descripcion{
    font-size: 12px;
}
.precio{
    font-size: 20px;
}


.cart{
    width: 39px;
    height: 38px;}