.size-img{
    height: 220px;
    width: 100%;

}

.container-box{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5%;
    gap: 5px;
}

 .h5 {
    font-size: 15px;
}